* {
  background-color: black;
}

#temporary {
  font-style: italic;
  font-weight: bold;
  font-family: Lucida Sans;
  text-align: center;
  font-size: 100px;
  color: antiquewhite;
  margin-top: auto;
}

#Pradimg {
  width: 25%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: antiquewhite;
}

#linkedin {
  text-align: center;
  text-decoration: none;
}

.contact {
  color: aliceblue;
  text-align: center;
  font-size: larger;
}

.info {
  color: aliceblue;
  text-align: left;
  padding-left: 36.5%;
  font-size: large;
}

#linkedinlogo {
  display: inline-block;
}

#email {
  color: aquamarine;
}
